* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Header CSS */
header {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #07484a;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  padding: 0 18px;
}
header ul li:hover a {
  color: #07484a;
}
header ul li a {
  text-decoration: none;
  color: #70908b;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
.SCU {
  display: flex;
  gap: 58px;
}
.header-bar {
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  gap: 140px;
  align-items: center;
}
.banner {
  width: 100%;
  height: 600px;
  position: relative;
  border-radius: 0 0 62px 62px;
  opacity: 0.4;
}
.head-line {
  width: 780px;
  height: 392px;
  position: absolute;
  left: 150px;
  top: 150px;
}
.title-banner {
  width: 700px;
  height: 170px;
  font-size: 64px;
  font-weight: bold;
  color: #07484a;
  font-family: "Playfair Display", serif;
  margin: 0;
}
.slogan {
  width: 100%;
  height: 32px;
  font-size: 24px;
  color: #07484a;
  font-family: "Playfair Display", serif;
  margin: 55px 0;
}
.button-banner {
  box-sizing: border-box;
  width: 230px;
  height: 80px;
  padding: 20px;
  font-size: 24px;
  background-color: #70908b;
  font-family: "Playfair Display", serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.button-banner a {
  text-decoration: none;
  color: #fdfbf8;
}
/* Header CSS */

/* Content Home Page CSS */

.content-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 64px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #07484a;
  margin: 20px 0;
}
.content-item-box {
  display: flex;
  gap: 32px;
}
.product-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.content-item {
  width: 30%;
  height: 100%;
  border: #07484a solid 1px;
  border-radius: 16px;
  padding: 20px 20px;
  /* margin: 54px 0; */
}
.content-item img {
  width: 100%;
  height: 279px;
  background-color: aqua;
  margin-bottom: 10px;
  border-radius: 16px;
}
.name {
  height: 55px;
  color: #70908b;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  font-family: "Playfair Display", serif;
}
.content-item .price {
  display: flex;
}
.content-item .price p {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto Mono", sans-serif;
}
.price-value {
  margin-left: 10px;
  color: #ff0000;
}
.slider-button-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 54px 0;
}
.btn-slide {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
}
.btn-slide svg {
  width: 50%;
  height: 50%;
  fill: #07484a;
}
.btn-slide:hover {
  background-color: #c4c4c4;
}
.button-more-box {
  display: flex;
  justify-content: center;
}
.button-more {
  width: 265px;
  height: 72px;
  padding: 20px 24px;
  border: none;
  border-radius: 10px;
  background-color: #70908b;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin: 20px 0;
  cursor: pointer;
}

/* Content Home Page CSS */

/* New Letter CSS */
.new-letter-box {
  width: 100%;
  height: 600px;
  background-color: #e0f6f1;
  display: flex;
}
.new-letter-box img {
  width: 30%;
  height: 600px;
}
.new-letter-content-box {
  width: 70%;
  height: 100%;
  padding: 0 150px;
  display: flex;
  align-items: center;
}

.new-letter-content-text {
  color: #07484a;
  margin-bottom: 40px;
}
.new-letter-content-text p:first-child {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  margin-bottom: 25px;
}
.new-letter-content-text p:last-child {
  font-size: 24px;
  font-family: "Roboto", serif;
}
.new-letter-email-form input {
  width: 708px;
  height: 60px;
  border: 1px solid #07484a;
  border-radius: 30px;
  color: #c4c4c4;
  font-size: 18px;
  font-family: "Roboto", serif;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #e0f6f1;
}
.new-letter-email-form input:focus {
  color: #000000;
}
.new-letter-email-button {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background-color: #70908b;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  font-family: "Roboto", serif;
  cursor: pointer;
}
/* New Letter CSS */

/* Footer CSS */
footer {
  width: 100%;
  height: 400px;
  background-color: #f3f6f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding: 100px 150px 32px 150px;
  font-family: "Roboto", serif;
  color: #07484a;
}
.content-footer-center-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.detail-footer-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 21px;
}
.logo-footer {
  width: 137px;
  height: 36px;
  cursor: pointer;
}
.icon-footer {
  display: flex;
  gap: 36px;
}
.info-footer-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.info-footer-detail-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-list-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-title {
  font-weight: bold;
}
.info-list-box a {
  text-decoration: none;
  color: #07484a;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #07484a;
  font-family: "Roboto", serif;
}
/* Footer CSS */
